

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card</title>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/css/ionic.bundle.css"/>
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
  </style>

<body>
  <ion-app>
    <ion-header translucent>

      <link href="assets/css/newspaper.css" rel="stylesheet">

        <ion-toolbar>
          <ul class="navlist">
            <li class="navitems newsli"></li>
      <li class="navitems newsli"><a class="npa" href="#"><img class="navcube" src="/assets/icon/cubeicon.png"></a></li>
            <li class="navitems newsli"></li>
          </ul>
        </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>

     <h2 > Articles </h2>
     <h4 > Please select an Article </h4>

      <ion-card>
        <img class="comp-card-image" src="assets/images/VoiceOfBlockchain-676x320.png" />
        <ion-card-header>
          <ion-card-subtitle>Groofy Ceo was hacked!</ion-card-subtitle>
          <ion-card-title>The Big data days are back! tech insanity!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Started in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
</body>
