<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <br>
    <h1>
      Fintech Horizons Media Mobile App
    </h1>
 <br>

 <div class="about-app-div">
  <p>Welcome to your next gen resource for FinTech  media.
    <br>
    <br>
     We built this mobile app for our members to find the latest news in our fintech database,
     We will also be adding new features access to FHM-Newspaper, Companies, Execs, Articles,
     News and more offered by our Pro membership.</p><br>
     Release Version 1.0 ( beta ) | Fintech Horizons Mobile | Fintech Horizons Media LLC
     <br>
     <br>
     We want you to build a great experience using our app we appriciate all feedback.
     <br>
     <br>
     Thanks for your time,
     <br>
     Fintech Horizons Media Team
 </div>

</ion-content>
