<link href="assets/css/newspaper.css" rel="stylesheet">



<ion-header>

  <ion-toolbar>
    <ul class="navlist">
      <li class="navitems newsli"></li>
<li class="navitems newsli"><a class="npa" href="#"><img class="navcube" src="/assets/icon/cubeicon.png"></a></li>
      <li class="navitems newsli"></li>
    </ul>
  </ion-toolbar>

</ion-header>

  <div class="section">
    <div class="w-row">
      <div class="columniconmenu w-col w-col-3 w-col-small-3 w-col-tiny-3 tooltip"> <span class="tooltiptext">Dashboard</span><a href="/newspaper" class="padding-top w-inline-block"><img src="assets/images/news.png" alt="" class="iconbtn"> </a></div>
      <div class="columniconmenu w-col w-col-3 w-col-small-3 w-col-tiny-3 tooltip"><span class="tooltiptext">Companies</span><a href="/companies" class="padding-top w-inline-block"><img src="assets/images/suitcase.png" alt="" class="iconbtn"></a></div>
      <div class="columniconmenu w-col w-col-3 w-col-small-3 w-col-tiny-3 tooltip"><span class="tooltiptext">Articles</span><a href="/articlespage" class="padding-top w-inline-block"><img src="assets/images/files.png" alt="" class="iconbtn"></a></div>
      <div class="columniconmenu w-col w-col-3 w-col-small-3 w-col-tiny-3 tooltip"><span class="tooltiptext">Executives</span><a href="/executives" class="padding-top w-inline-block"><img src="assets/images/group.png" alt="" class="iconbtn"></a></div>
    </div>
  </div>
<ion-content>
  <ion-card >

    <ion-card-header>
          <ion-card-subtitle>
            <h3> Featuring Insurtech Articles </h3>
          </ion-card-subtitle>
        </ion-card-header>
    <ion-card-content class="feedspotcard-1">

      <div class="box" *ngFor=" let item of title; let i = index;" >

        <div class="box-shadow">

          <!-- <p> <span> Id : </span> <span innerHTML={{id[i]}}> </span> </p> -->
          <h4> <span innerHTML={{title[i]}}> </span> </h4>
          <p> <span> author : </span> <span innerHTML={{author[i]}}> </span> </p>

          </div>
        </div>
    </ion-card-content>
  </ion-card>

</ion-content>
