<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <br>
    <h1>
      Fintech Horizons Media Mobile App
    </h1>
 <br>

 <div class="about-app-div">
  <p>Welcome to your next generation resource for Fintech sector media, We have built this app for our members and non-members to find the latest content and new features access to FHM-Newspaper, Events, Execs, Articles, News and more offered by our Pro membership.</p>
 </div>

</ion-content>
