<link href="assets/css/newspaper.css" rel="stylesheet">

<ion-header>

  <ion-toolbar>
    <ul class="navlist">
      <li class="navitems newsli"></li>
<li class="navitems newsli"><a class="npa" href="#"><img class="navcube" src="/assets/icon/cubeicon.png"></a></li>
      <li class="navitems newsli"></li>
    </ul>
  </ion-toolbar>

</ion-header>



  <div class="section">
    <div class="w-row">
      <div class="columniconmenu w-col w-col-3 w-col-small-3 w-col-tiny-3 tooltip"> <span class="tooltiptext">Newspaper</span><a href="/newspaper" class="padding-top w-inline-block"><img src="assets/images/news.png" alt="" class="iconbtn"> </a></div>
      <div class="columniconmenu w-col w-col-3 w-col-small-3 w-col-tiny-3 tooltip"><span class="tooltiptext">Companies</span><a href="/companies" class="padding-top w-inline-block"><img src="assets/images/suitcase.png" alt="" class="iconbtn"></a></div>
      <div class="columniconmenu w-col w-col-3 w-col-small-3 w-col-tiny-3 tooltip"><span class="tooltiptext">Newsletter</span><a href="/executives" class="padding-top w-inline-block"><img src="assets/images/files.png" alt="" class="iconbtn"></a></div>
      <div class="columniconmenu w-col w-col-3 w-col-small-3 w-col-tiny-3 tooltip"><span class="tooltiptext">Executives</span><a href="/articlespage" class="padding-top w-inline-block"><img src="assets/images/group.png" alt="" class="iconbtn"></a></div>
    </div>
  </div>

  <ion-card >
    <ion-card-content class="feedspotcard-1">
<iframe class="widget_preview_iframe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" scrolling="no" style="visibility: visible; width: 100%; height: 423px;" src="https://www.feedspot.com/widgets/lookup/4IlBb5bcb8bf"></iframe>

    </ion-card-content>
  </ion-card>
