

.newsli {
  float: left;
}

.newsli .npa {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.newsli .npa:hover:not(.active) {
  background-color: #111;
}
